<template>
	<div class="flex flex-col flex-grow">
		<h2 class="font-bold mb-3 text-lg">
			{{ formTemplate.title }}
		</h2>
		<Form
				:ref="formTemplate.key"
				:model="formData"
				:rules="rules"
				@keyup.native.enter="submit()"
				@submit.native.prevent
				@validate="validateForm"
		>
			<div
					v-for="field in fields"
					:key="field.prop"
			>
				<Input
						v-model="formData[field.prop]"
						:type="field.type"
						:label="field.label"
						:error="getError(field.prop)"
						:disabled="loading || formSubmitted || !isCurrentForm"
				/>
			</div>
			<button
					class="form-button"
					:class="{'disabled' : isButtonDisabled}"
					:disabled="isButtonDisabled"
					@click="submit()"
			>
				<PulseLoader
						v-if="loading"
						color="#6366F1"
						size="10px"
				/>
				<span v-else>{{ formSubmitted ? 'Completato' : 'Continua' }}</span>
			</button>
			<div
					v-if="formSubmitted && !isMobile"
					class="font-semibold text-green-500 mt-5"
			>
				Complimenti! Procedi con il prossimo step!
			</div>
		</Form>
	</div>
</template>

<script>
import Form from '@/components/Form';
import Input from '@/components/Input';
import clientValidationService from '@/lib/clientValidationService';
import fakePromiseService from '@/lib/fakePromiseService';
import PulseLoader from 'vue-spinner/src/PulseLoader';

export default {
	name: 'DynamicForms',
	components: {
		Form,
		Input,
		PulseLoader,
	},
	props: {
		activeForm: {
			type: String,
			default: null,
		},
		formTemplate: {
			type: Object,
			required: true,
		},
		isMobile: {
			type: Boolean,
			default: false,
		},
	},
	data() {
		return {
			formData: {},
			isFormValid: false,
			errors: [],
			loading: false,
			formSubmitted: false,
		};
	},
	computed: {
		rules() {
			return this.formTemplate?.rules?.map(x => {
				// Dynamically get validator service methods or return empty validator
				x.validator = clientValidationService[x.validator] ?? (() => true);
				return x;
			});
		},
		fields() {
			return this.formTemplate?.fields ?? [];
		},
		isCurrentForm() {
			return this.activeForm === this.formTemplate.key;
		},
		isButtonDisabled() {
			return !this.isFormValid || this.loading || this.formSubmitted || !this.isCurrentForm;
		},
	},
	mounted() {
		// It should keep this.formData reactive
		const data = {};
		for(const field of this.fields) {
			data[field.prop] = null;
		}
		this.formData = data;
	},
	methods: {
		validateForm(data) {
			this.errors = data.errors;
			this.isFormValid = data.validated;
		},
		async submit() {
			try {
				this.loading = true;
				if(this.isFormValid) {
					const payload = {key: this.formTemplate.key, data: this.formData};
					await fakePromiseService.submitData(payload);
					this.formSubmitted = true;
					this.$emit('submit', payload);
				}
			}
			catch(e) {
				console.error(e);
				this.$notify({
					type: 'error',
					title: 'Ops!',
					text: 'Non sei stato fortunato con la validazione lato server! Riprova.',
				});
			}
			finally {
				this.loading = false;
			}
		},
		getError(prop) {
			return this.errors.find(x => x.prop === prop)?.message;
		},
	},
};
</script>

<style lang="scss">

.form-button {
    @apply border-0 px-3 py-2 w-32 text-white mt-5 bg-indigo-500 rounded-full font-semibold leading-relaxed;
    &.disabled {
        @apply cursor-not-allowed bg-gray-300;
    }
    .v-spinner {
        @apply relative;
        top: 4px;
    }
}

</style>