<template>
	<div>
		<form @focus.capture="turnOnValidation">
			<slot />
		</form>
	</div>
</template>

<script>

export default {
	name: 'Form',
	props: {
		model: {
			type: Object,
			default: () => {},
		},
		rules: {
			type: Array,
			default: () => [],
		},
	},
	data() {
		return {
			shouldValidate: false,
		};
	},
	watch: {
		model: {
			handler(formData) {
				if(!this.shouldValidate) {
					return;
				}
				const errors = [];
				for (const [key, value] of Object.entries(formData)) {
					const rule = this.rules.find(x => x.prop === key);
					if(rule && !rule.validator(value)) {
						errors.push({message: rule.errorMessage, prop: key});
					}
				}
				this.$emit('validate', {errors, validated: !errors.length});
			},
			deep: true,
		},
	},
	methods: {
		turnOnValidation() {
			this.shouldValidate = true;
		},
	},
};
</script>

<style lang="scss">

</style>
