<template>
	<div class="form-input mt-2">
		<label v-show="label">{{ label }}</label>
		<div class="flex flex-col mt-1">
			<input
					v-model="inputVal"
					:type="type"
					:class="{'has-error': hasError}"
					:disabled="disabled"
			>
			<span
					v-if="error"
					class="input-error-message"
			>{{ error }}</span>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Input',
	props: {
		label: {
			type: String,
			default: null,
		},
		type: {
			type: String,
			validator: value => ['text', 'email', 'number'].includes(value),
			default: 'text',
		},
		value: {
			type: String,
			default: null,
		},
		error: {
			type: String,
			default: null,
		},
		disabled: {
			type: Boolean,
			default: false,
		},
	},
	computed: {
		inputVal: {
			get() {
				return this.value;
			},
			set(val) {
				this.$emit('input', val);
			},
		},
		hasError() {
			return !!this.error;
		},
	},
};
</script>

<style scoped lang="scss">

.form-input {
    input {
        @apply outline-none px-2 py-1 border-2 rounded-full;


        &.has-error {
            @apply border-red-500;
        }
    }
    .input-error-message {
        @apply text-red-500 text-sm mt-1;
    }
}

</style>