<template>
	<div>
		<div
				v-for="(form, index) in forms"
				:key="index"
				class="mb-3"
		>
			<h2 class="font-semibold text-lg uppercase">
				{{ form.key }}
			</h2>
			<div
					v-for="(field, name) in form.data"
					:key="form.key + '-' +name"
			>
				<p><span class="font-semibold">{{ name }}</span>: {{ field }}</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Report',
	props: {
		forms: {
			type: Array,
			default: () => [],
		},
	},
};
</script>

<style>

</style>