<template>
	<div id="app">
		<div class="container px-4 md:px-0">
			<div
					v-if="allFormsAreCompleted"
					class="flex flex-col items-center"
			>
				<h1 class="text-center font-bold text-xl mb-10">
					Complimenti! Ecco il tuo report:
				</h1>
				<Report :forms="savedData" />
			</div>
			<div
					v-else
					class="md:flex md:flex-col md:items-center"
			>
				<h1 class="text-center font-bold text-xl mb-10">
					{{
						isMobile
							? 'Compila il form sottostante!'
							: 'Compila i form sottostanti!'
					}}
				</h1>
				<transition-group
						tag="div"
						class="form-slider"
						:class="{'mobile' : isMobile, 'desktop': !isMobile}"
						name="slide"
				>
					<template v-for="form in forms">
						<div
								v-show="!isMobile || isCurrentFormActive(form.key)"
								:key="form.key"
								class="flex justify-center md:mb-12 form-container"
						>
							<DynamicForm
									:form-template="form"
									:active-form="activeForm"
									:is-mobile="isMobile"
									@submit="formSubmitted"
							/>
						</div>
					</template>
				</transition-group>
				<div
						v-if="isMobile"
						class="flex justify-center mt-12"
				>
					<div
							v-for="(form, index) in forms"
							:key="form.key + '-step'"
							class="mx-3"
					>
						<div
								class="rounded-full font-semibold text-white w-8 h-8 flex items-center justify-center"
								:class="{
									'bg-purple-200': !form.completed,
									'bg-purple-400': isCurrentFormActive(form.key),
									'bg-purple-800': form.completed,
								}"
						>
							{{ index + 1 }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<notifications />
	</div>
</template>

<script>
import DynamicForm from '@/components/DynamicForm';
import Report from '@/components/Report';
import breakpoints from '@/lib/breakpoints';

export default {
	name: 'App',
	components: {
		DynamicForm,
		Report,
	},
	data() {
		return {
			forms: [
				{
					key: 'form1',
					title: 'Step 1: Inserisci i tuoi dati personali',
					completed: false,
					fields: [
						{
							prop: 'name',
							type: 'text',
							label: 'Nome',
						},
						{
							prop: 'surname',
							type: 'text',
							label: 'Cognome',
						},
					],
					rules: [
						{
							prop: 'name',
							validator: 'basic',
							errorMessage: 'Il campo Nome è obbligatorio',
						},
						{
							prop: 'surname',
							validator: 'basic',
							errorMessage: 'Il campo Cognome è obbligatorio',
						},
					],
				},
				{
					key: 'form2',
					title: 'Step 2: Inserisci la tua email e il tuo codice fiscale / p.iva',
					completed: false,
					fields: [
						{
							prop: 'fiscalCode',
							type: 'text',
							label: 'Codice Fiscale / P.Iva',
						},
						{
							prop: 'email',
							type: 'email',
							label: 'Email',
						},
					],
					rules: [
						{
							prop: 'fiscalCode',
							validator: 'fiscalCode',
							errorMessage: 'Inserisci un CF / P.Iva valido',
						},
						{
							prop: 'email',
							validator: 'email',
							errorMessage: 'Inserisci un\' email valida',
						},
					],
				},
				{
					key: 'form3',
					title: 'Step 3: Inserisci gli ultimi dettagli',
					completed: false,
					fields: [
						{
							prop: 'nickname',
							type: 'text',
							label: 'Soprannome',
						},
						{
							prop: 'age',
							type: 'number',
							label: 'Età',
						},
					],
					rules: [
						{
							prop: 'age',
							validator: 'number',
							errorMessage: 'Inserisci un\'età valida',
						},
					],
				},
			],
			savedData: [],
		};
	},
	computed: {
		activeForm() {
			return this.forms.find((x) => !x.completed)?.key; // first not completed
		},
		allFormsAreCompleted() {
			return !this.forms.some((x) => !x.completed);
		},
		isMobile() {
			const currentBreakpoint = breakpoints?.is ?? 'xs';
			return currentBreakpoint === 'xs' || currentBreakpoint === 'sm';
		},
	},
	methods: {
		formSubmitted(data) {
			this.savedData.push(data);
			const currentForm = this.forms.find((x) => x.key === data.key);
			currentForm.completed = true;
		},
		isCurrentFormActive(key) {
			return this.activeForm === key;
		},
	},
};
</script>

<style lang="scss">
#app {
  @apply flex justify-center text-gray-800 mt-16;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.8s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}


.form-slider {
    &.desktop {
        @apply flex flex-col items-stretch flex-wrap justify-center;
    }
    &.mobile {
        @apply relative h-96 overflow-y-auto overflow-x-hidden;

        .form-container {
            @apply absolute inset-0;
        }
    }    
}


</style>
